{% extends content.layout %}

{% block title %}Гостевые книги{% endblock %}

{% block menu_local %}{# empty! all the data in the content #}{% endblock %}

{% block bottom_navigation %}
  {% if book_admin %}
  <a href="books.phtml?action=edit" class="action">Добавить книгу</a>
  {% endif %}
{% endblock %}

{% block main_content %}
  {% for book in available_books if book.pseudo_book == 'N' or book_admin %}
  <A class="tile" href="books.phtml?book={{ book.book_id }}&action=show">
    <h4>{{ book.book_name }}
      {% for upd in content.book_updates if upd.id == book.book_id and upd.cnt %}
      <span class="highlight">новых сообщений: {{ upd.cnt }}</span>
      {% endfor %}
    </h4>
    <p>{{ book.about|nl2br }}</p>
  </A>
  {% endfor %}
  {% if current_user %}
  <A class="tile" href="private.phtml">
    <h4>Личные сообщения
      {% for upd in content.book_updates if upd.id == 'private' and upd.cnt %}
      <span class="highlight">новых сообщений: {{ upd.cnt }}</span>
      {% endfor %}
    </h4>
    <p></p>
  </A>
  {% endif %}
{% endblock %}

{% block book_updates %}
  {% if not content.book_updates %}
  <p>Нет новых сообщений.</p>
  <div class="actions">
    <a href="books.phtml?t={{ time }}" class="button">Обновить</a>
  </div>
  {% endif %}
{% endblock %}

