{% extends content.layout %}

{% block title %}Гостевые книги{% endblock %}

{% block menu_local %}{# empty! all the data in the content #}{% endblock %}

{% block bottom_navigation %}
  {% if book_admin %}
  <a href="books.phtml?action=edit" class="action">Добавить книгу</a>
  {% endif %}
{% endblock %}

{% block main_content %}
  {% for book in available_books if book.pseudo_book == 'N' or book_admin %}
  <div class="gf_item">
  <div class="gf_item_title"><A href="books.phtml?book={{ book.book_id }}&action=show">{{ book.book_name }}</A></div>
  <div class="gf_item_menu">
  <a href="messages.phtml?book={{ book.book_id }}&mode=new">Новые сообщения</a>
  <a href="messages.phtml?book={{ book.book_id }}">Обновленные дискуссии</a>
  <a href="discussions.phtml?book={{ book.book_id }}">Список дискуссий</a>
  <a href="discussions.phtml?book={{ book.book_id }}&mode=new">Список обновлений</a>
  {% if book_admin %}
  <a href="books.phtml?book_id={{ book.book_id }}&action=edit">Изменить</a>
  {% endif %}
  </div>
  <p>
  {{ book.about|br }}
  </p>
  </div>
  {% endfor %}
  {% if current_user %}
  <div class="gf_item">
  <div class="gf_item_title"><A href="private.phtml">Личные сообщения</A></div>
  <div class="gf_item_menu">
  <a href="private.phtml">Список дискуссий</a>
  </div>
  <p>
  </p>
  </div>
  {% endif %}
{% endblock %}

