<html>
<head>
<title>ofsite / {% block title %}{% endblock %}</title>
{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% include 'components/html.header.html' %}
{% endblock %}
</head>
<body leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0">
<style type="text/css">
  table.enter_form {float: none; margin-top: 0px;}
  div.menu2container, div.actions_container, div#gf_additions {margin-left: 5px; margin-right: 5px;}
  div.top_line {padding: 3px 3px 3px 3px;}
  .content {min-height: 0px;}
</style>
<div class="top_line">
{% include 'site/user.html' %}
</div>
<div style="background-color: #9FCFFF; border-bottom: 1px solid #000080; padding: 3px 5px 3px 5px; text-align: center;">
{% include 'site/menu.main.html' %}
</div>
<h1>{{ block('title') }}</h1>
<div class="menu2container">{% block menu_local %}{% include 'site/menu.local.html' %}{% endblock %}</div>
<div class="actions_container">{% block content_navigation %}{% endblock %}</div>
{% include 'site/before.content.html' %}
<div class="content">
  {% block main_content %}{% endblock %}
  {% include 'discussions/updates.html' %}
  {% include 'books/updates.list.html' %}
</div>
<div class="actions_container">{% block bottom_navigation %}{% endblock %}</div>
<div style="border-top: 1px solid #000080; text-align: right; padding: 3px 3px 3px 3px; font-size: 10px;">
ofsite
</div>
</body>
</html>
