{% extends content.layout %}

{% block title %}Пароль / {{ current_user.nick }}{% endblock %}

{% block menu_local %}
  {% include 'settings/menu.html' %}
  {{ parent() }}
{% endblock %}


{% block main_content %}
  <SCRIPT language="javascript">
  function checkReminderForm() {
    if (!document.pswForm.old.value) {
      alert ('Необходимо указать старый пароль!');
      return false;
    }
    if (!document.pswForm.newPassword.value) {
      alert ('Необходимо указать новый пароль!');
      return false;
    }
    if (document.pswForm.newPassword.value != document.pswForm.retypePassword.value) {
      alert ('Повторный пароль не совпадает с новым паролем!');
      return false;
    }
    if (confirm('Вы уверены, что необходимо изменить пароль?')) {
      return true;
    }
    return false;
  }
  </SCRIPT>
  <FORM ACTION="users.phtml" METHOD="POST" NAME="pswForm">
  <INPUT TYPE=HIDDEN NAME="action" VALUE="update_password"></INPUT>
  <TABLE align=center>
    <TR>
     <TD class=form>Старый пароль:</TD>
     <TD class=form><INPUT TYPE=PASSWORD NAME="old"></INPUT></TD>
     <TD class=form></TD>
    </TR><TR>
     <TD class=form>Новый пароль:</TD>
     <TD valign=top><INPUT TYPE=PASSWORD NAME="newPassword"></INPUT></TD>
     <TD>
     </TD>
    </TR><TR>
     <TD class=form>Еще раз:</TD>
     <TD valign=top><INPUT TYPE=PASSWORD NAME="retypePassword"></INPUT></TD>
     <TD>
     </TD>
    </TR>
    <TR><TD align=center colspan=3>
      <INPUT TYPE=SUBMIT VALUE="Изменить пароль" onClick="return checkReminderForm();"></INPUT>
     </TD>
    </TR>
  </TABLE>
  </FORM>
{% endblock %}

